*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}
.content{
    height: 400px;
    width: 750px;
    overflow: hidden;
    position: relative;
}
.content .image-container{
    height: 100%;
    width: 100%;
}
.image-container img{
    height: 100%;
    width: 100%; 
}
.btn-slider{
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
}
.btn-slider span{
    height: 15px;
    width: 50px;
    border: 2px solid white;
    margin: 0 3px;
    cursor: pointer;
}
.btn-slider span:hover{
    background: white;
}
.content .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    border: 2px solid white;
    background: rgba(225, 225, 225, 0.1);
    cursor: pointer;
}
.content .slide:hover{
    background: rgba(225, 225, 225, 0.5);
}
.slide span{
    font-size: 35px;
    color: white;
    line-height: 40px;
}
.content .right{
    right: 0;
}